@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MarkPro.woff2'); /* IE9 Compat Modes */
  src: local('MarkPro'), local('MarkPro'),
       url('../assets/fonts/MarkPro.woff2') format('woff2') /* Super Modern Browsers */
}

@font-face {
  font-family: 'MarkPro';
  font-style: medium;
  font-weight: 400;
  src: url('../assets/fonts/MarkPro_Medium.woff2'); /* IE9 Compat Modes */
  src: local('MarkPro'), local('MarkPro'),
       url('../assets/fonts/MarkPro_Medium.woff2') format('woff2') /* Super Modern Browsers */
}

@font-face {
  font-family: 'MarkPro';
  font-style: bold;
  font-weight: 400;
  src: url('../assets/fonts/MarkPro_Bold.woff2'); /* IE9 Compat Modes */
  src: local('MarkPro'), local('MarkPro'),
       url('../assets/fonts/MarkPro_Bold.woff2') format('woff2') /* Super Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v20-latin-regular.woff'); /* IE9 Compat Modes */
  src: local('MarkPro'), local('MarkPro'),
       url('../assets/fonts/roboto-v20-latin-regular.woff') format('woff2') /* Super Modern Browsers */
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: bold;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto';
  margin: 0px;
  font-size: 4em;
}
